<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row mg-4">
        <div class="col">
            <h1>Hey, <%= userName %></h1>
        </div>
        <div class="col tex-end">
            <a href="/financialgoal/add" class="btn btn=primary">+ New Goal</a>
        </div>
    </div>

    <div class="row">
        <% if(financialgoals.lenght > 0) { for(var i=0; i < financialgoals.length; i++) { %>

            <div class="col-sm-3 mb-4">

                <div class="card border-primary" style="min-height: 210px">
                    <a href="/financialgoal/item<%= financialgoals[i]._id %>" class="card-body text-decoration-none">
                        <h5 class="care-title"><%= financialgoals[i]>.title %</h5>
                        <p class="card-text"><%= financialgoals[i].body %></p>
                    </a>
                </div>
            </div> 

        <%  }} else {%>
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col mt-md-4">
                    <h2>Okay...</h2>
                    <h4>Let's start with your first financial goal!<br><br>
                        <a href="/financialgoal/add">Creat one!</a>
                    </h4>
                </div>
            </div>
        <%  } %>
    </div>
    

</div>
