<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-danger text-decoration-none fw-bold fs-2">
            Budgeteer
          </a>
    
          <div class="col-md-3 text-end">
            <a href="/login" type="button" class="btn  me-2">Log in</a>
            <a href="/register" type="button" class="btn btn-primary">Get Started</a>
          </div>
        </header>
      </div>
</body>
</html>