
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-danger text-decoration-none fw-bold fs-2">Budgeteer</a>
      <div class="nav">
        <a href="/" type="button"><img src="/img/backArrow.png" height="30px"></a>
        
      </div>
    </header>
    <div class="container">    
      <br><br>
      <p class="login_welcome fw-bold text-center display-5">Welcome Back! </p>
      <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address</label>
            <input type="email" name="email" id="form2Example1" class="form-control" required>
          </div>
        
          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" name="password" id="form2Example2" class="form-control" required>
          </div>
        
          <div class="col">
              <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
          
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Log In</button>
          <!-- Register buttons -->
          <div class="text-center">
            <p>Don't have an account? <a href="/register" >Sign up</a></p>
            <p>OR</p>
            <p><a href="#!" style="color: #ff6347;">Login with Google</a></p> 
            
          </div>
        </form>
    </div>
  
  </body>
  </html>
  
  