
  <div class="container">
    
    <header class="d-flex flex-wrap py-3 mb-4">
      <a href="/" class=" text-danger text-decoration-none fw-bold fs-2">
        Budgeteer
      </a>
    </header>
    
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>
          <input type="email" id="form2Example1" class="form-control" required>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" id="form2Example2" class="form-control" required>
        </div>
      
        <div class="col">
            <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
        
      
        <!-- Submit button -->
        <a type="button" class="btn btn-primary btn-block mb-4">Sign in</a>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Don't have an account? <a href="/register">Sign up</a></p>
          <p>OR</p>
          <p><a href="#!" style="color: #ff6347;">Login with Google</a></p> 
          
        </div>
      </form>
  </div>
