:root {
    --background-color: #b2d156;
    --bs-primary-rgb: #12296c;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    background-image: url(../img/noise-bg.png);
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 1000;
  }
  
  .container-fluid-custom {
    max-width: 1600px;
  }
  
  /* Button */
  .btn {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
  }
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary-rgb);
    --bs-btn-border-color: var(--bs-primary-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0043a8;
    --bs-btn-hover-border-color: #0043a8;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-rgb);
    --bs-btn-active-border-color: var(--bs-primary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary-rgb);
    --bs-btn-disabled-border-color: var(--bs-primary-rgb);
  }
  
  .btn-outline-primary {
    --bs-btn-color: var(--bs-primary-rgb);
    --bs-btn-border-color: var(--bs-primary-rgb);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0043a8;
    --bs-btn-hover-border-color: #0043a8;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary-rgb);
    --bs-btn-active-border-color: var(--bs-primary-rgb);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary-rgb);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary-rgb);
    --bs-gradient: none;
  }
  
  .pagination {
    --bs-pagination-color: var(--bs-primary-rgb);
    --bs-pagination-active-bg: var(--bs-primary-rgb);
    --bs-pagination-active-border-color: var(--bs-primary-rgb);
  }
  
  

.form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .form-container, h2 {
    text-align: center;
    margin-bottom: 30px;
}
  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display:flexbox;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .submit-btn {
    display: block;
    margin: 20px auto;
    width: 30%;
    padding: 10px;
    background-color: #12296c;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #4565a0;
  }

  p {
    margin-top: 15px;
  }