:root {
    --background-color: #F0F4E4;
    --color: #000000;
  }
  
  body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 80%;
    min-width: 360px;
    margin: 0px 20px 0px 180px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family:'Unbounded', cursive;
    font-weight: 800;
  }

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.nav .btn {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
}

.register_welcome {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

form {
    margin-top: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 0px;
}

button {
    background-color: #007bff; /* Set your desired button color */
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
